/* styles.css */

/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  text-align: center; /* Center all text */
}



.brand-logo img.logo {
  height: 50px;
  vertical-align: middle;
}

ul#nav-mobile {
  margin: 0;
}

ul#nav-mobile li {
  display: inline-block; /* Display list items inline */
  margin-left: 10px;
}

ul#nav-mobile li a {
  color: white;
  padding: 0 15px;
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
}

ul#nav-mobile li a:hover {
  background-color: #1976D2; /* Darker shade of primary color */
  border-radius: 4px;
}

ul#nav-mobile li a img.icon {
  height: 30px;
  margin-left: 5px;
}

/* Background and overlay styles */
.background {
  background: url('../../../assets/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 50vh;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.welcome-text h1 {
  font-size: 36px;
  margin: 0;
}

/* Container styles */
.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

.description-section,
.reviews-section {
  margin-bottom: 30px;
}

.description-section h2,
.reviews-section h2 {
  color: #333;
  margin-bottom: 20px;
}

.description-section p,
.reviews-section p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Reviews section styles */
.reviews-section .reviews-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.reviews-section .review {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-section .review img {
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
}

.reviews-section .review p {
  margin: 10px 0;
}

.reviews-section .review h4 {
  color: #333;
  margin-top: 10px;
}
