<!-- home.component.html -->
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img src="assets/logo.png" alt="Logo" class="logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/about">Sobre Nosotros</a></li>
      <li><a routerLink="/instrumentation">Instrumentación</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
      <li><a routerLink="/login"><img src="assets/login.png" alt="Login" class="icon"></a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Bienvenido al Sistema de Monitoreo de Temperatura</h1>
  <p>En esta aplicación, puedes monitorear y administrar la temperatura del datacenter.</p>
  <div class="row">
    <a routerLink="/login" class="waves-effect waves-light btn-large">Iniciar Sesión</a>
  </div>
</div>
