<nav role="navigation">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img src="../../../assets/logo.png" alt="Logo del Sistema de Monitoreo de Temperatura" class="logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down" aria-label="Main navigation">
      <li><a routerLink="/about">Sobre Nosotros</a></li>
      <li><a routerLink="/instrumentation">Instrumentación</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
      <li><a routerLink="/login"><img src="../../../assets/login.png" alt="Login" class="icon"></a></li>
    </ul>
  </div>
</nav>
<br>

<div class="background">
  <div class="overlay">
    <div class="welcome-text" role="heading" aria-level="1">
      <h1>Bienvenido al Sistema de Monitoreo de Temperatura</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="description-section">
    <h2 style="text-align: center;">Descripción</h2>
    <p style="text-align: justify;" >
      Nuestro sistema de monitoreo de temperatura está diseñado para proporcionar una solución integral para la gestión de datos en datacenters. A través de nuestra plataforma, los usuarios pueden monitorear en tiempo real las condiciones ambientales, realizar ajustes necesarios para optimizar el rendimiento y asegurar la seguridad de los equipos. Con gráficos interactivos y reportes detallados, nuestro sistema facilita la toma de decisiones informadas y la prevención de problemas antes de que ocurran. Además, ofrecemos funcionalidades avanzadas como alarmas automáticas y análisis de tendencias históricas para una gestión proactiva.
    </p>
  </div>

  <div class="reviews-section">
    <h2 style="text-align: center;">Opiniones de Usuarios</h2>
    <div class="reviews-grid">
      <div class="review" aria-label="User review 1">
        <img src="../../../assets/user.png" alt="Foto de perfil de Juan Pérez">
        <h4>Juan Pérez</h4>
        <p>"Esta plataforma ha transformado completamente nuestra gestión del datacenter. Muy recomendable!"</p>
        
      </div>
      <div class="review" aria-label="User review 2">
        <img src="../../../assets/user.png" alt="Foto de perfil de Ana Gómez">
        <h4>Ana Gómez</h4>
        <p>"El monitoreo en tiempo real y las alertas automáticas nos han ahorrado mucho tiempo y esfuerzo."</p>
        
      </div>
      <div class="review" aria-label="User review 3">
        <img src="../../../assets/user.png" alt="Foto de perfil de Carlos Rodríguez">
        <h4>Carlos Rodríguez</h4>
        <p>"Una herramienta esencial para cualquier administrador de datacenters. Fácil de usar y muy efectiva."</p>
        
      </div>
      <div class="review" aria-label="User review 4">
        <img src="../../../assets/user.png" alt="Foto de perfil de María López">
        <h4>María López</h4>
        <p>"La mejor inversión que hemos hecho para mejorar la eficiencia y seguridad de nuestros equipos."</p>
        
      </div>
    </div>
  </div>