<!-- operator.component.html -->
<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo"
      ><img src="../../../assets/logo.png" alt="Logo" class="logo"
    /></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/about">Sobre Nosotros</a></li>
      <li><a routerLink="/instrumentation">Instrumentación</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
      <li>
        <a (click)="logout()"
          ><img src="../../../assets/logout.png" alt="Logout" class="icon"
        /></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>Perfil del Operador</h2>
  <p>Email: {{ user.email }}</p>
  <form (submit)="updatePassword()">
    <input
      [(ngModel)]="newPassword"
      placeholder="Nueva Contraseña"
      name="newPassword"
    />
    <button class="waves-effect waves-light btn" type="submit">Actualizar Contraseña</button>
    <a class="waves-effect waves-light btn" routerLink="/operator/profile/char">Graficos</a>
    <a class="waves-effect waves-light btn" routerLink="/operator/profile/upload">Actualizar DataBase</a>
  </form>
  <li>
    
    <a (click)="logout()"><img src="../../../assets/logout.png" width="10%" alt="Logout" /></a>
  </li>
</div>
