<!-- dashboard.component.html -->
<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo"><img src="assets/logo.png" alt="Logo" class="logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/about">Sobre Nosotros</a></li>
      <li><a routerLink="/instrumentation">Instrumentación</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
      <li><a (click)="logout()"><img src="assets/logout.png" alt="Logout" class="icon"></a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>Dashboard</h2>
  <div class="row">
    <div class="col s12 m6">
      <h4>Gráfico de Temperatura</h4>
      <div>
        <ngx-charts-bar-vertical
        [results]="chartData"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [showDataLabel]="true">
      </ngx-charts-bar-vertical>           
      </div>
    </div>
    <div class="col s12 m6">
      <!-- Otros gráficos y datos pueden ser añadidos aquí -->
    </div>
  </div>
</div>
