<!-- about.component.html -->
<nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo"><img src="assets/logo.png" alt="Logo" class="logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/about">Sobre Nosotros</a></li>
        <li><a routerLink="/instrumentation">Instrumentación</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        <li><a (click)="logout()"><img src="assets/logout.png" alt="Logout" class="icon"></a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h2>Sobre Nosotros</h2>
    <p>Contenido de Sobre Nosotros...</p>
    <button (click)="navigateHome()" class="btn">Regresar al Home</button>
  </div>
  