<!-- contact.component.html -->
<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo"><img src="../../../assets/logo.png" alt="Logo" class="logo"></a>
    <!-- Sidenav Trigger for Mobile -->
    <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <!-- Desktop Menu -->
    <ul id="nav-desktop" class="right hide-on-med-and-down">
      <li><a routerLink="/about">Sobre Nosotros</a></li>
      <li><a routerLink="/instrumentation">Instrumentación</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
    </ul>
    <!-- Sidenav Menu for Mobile -->
    <ul id="mobile-menu" class="sidenav">
      <li><a routerLink="/about">Sobre Nosotros</a></li>
      <li><a routerLink="/instrumentation">Instrumentación</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
      <!-- Add other mobile menu items here if needed -->
    </ul>
  </div>
</nav>
<div>
    <button class="waves-effect waves-light btn-small" (click)="showTemperature()">Mostrar Gráfico de Temperatura</button>
    <button class="waves-effect waves-light btn-small" (click)="showHumidity()">Mostrar Gráfico de Humedad</button>
    <button class="waves-effect waves-light btn-small" (click)="showPie()">Mostrar Gráfico de Pastel</button>
    <button class="waves-effect waves-light btn-small" (click)="showArea()">Mostrar Gráfico de Área</button>
    <button class="waves-effect waves-light btn-small" (click)="showLine()">Mostrar Gráfico de Líneas</button>
    <a class="waves-effect waves-light btn-small" routerLink="/operator/profile">Menu</a>
</div>
 

<div class="date-picker-container">
  <h2>Escoje tu rango de fecha</h2>


  <!-- Date Picker for Start Date -->
  <input type="date" [value]="startDate" (change)="onStartDateChange($event)" />

  <!-- Date Picker for End Date -->
  <input type="date" [value]="endDate" (change)="onEndDateChange($event)" />

  <!-- Button to trigger data range filtering -->
  <button (click)="onDateRangeChange()">Aplicar</button>

  <!-- Optional error message -->

  <div *ngIf="showTemperatureChart">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="temperatureData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-line-chart>
  </div>
  
  <div *ngIf="showHumidityChart">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="humidityData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-line-chart>
  </div>
  
  <div *ngIf="showPieChart">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="pieData"
      [legend]="showLegend"
      [explodeSlices]="false"
      [labels]="true">
    </ngx-charts-pie-chart>
  </div>
  
  <div *ngIf="showAreaChart">
    <ngx-charts-area-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="areaData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-area-chart>
  </div>
  
  <div *ngIf="showLineChart">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="lineData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-line-chart>
  </div>

  <div>
    <button (click)="exportToExcel()">Exportar a Excel</button>
    <button (click)="exportToPDF()">Exportar a PDF</button>
  </div>
  
</div>  