/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* styles.css */
.icon {
    width: 24px;
    height: 24px;
}

.logo {
    width: 64px;
    height: 74px;
}