<!-- footer.component.html -->
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5>Autores</h5>
          <p>Michael Merino, Alex Mendoza y Ricardo Maigua</p>
        </div>
        <div class="col l4 s12">
          <h5>Contacto</h5>
          <p>+593 984567551, +593 984321179, +593 945675334</p>
        </div>
        <div class="col l4 s12">
          <h5>Redes sociales</h5>
          <ul>
            <li>
              <img src="assets/linkedin.png" alt="LinkedIn" class="icon" /> 
              Michael Merino: <a href="https://www.linkedin.com/in/michael-merino-0b7871207/">LinkedIn</a>
            </li>
            <li>
              <img src="assets/github.png" alt="GitHub" class="icon" /> 
              Michael Merino: <a href="https://github.com/MichaelMerino11">GitHub</a>
            </li>
            <li>
              <img src="assets/instagram.png" alt="Instagram" class="icon" /> 
              Michael Merino: <a href="https://www.instagram.com/maikijr11/">Instagram</a>
            </li>
            <!-- Repite lo mismo para Alex Mendoza y Ricardo Maigua -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2024 Derechos Reservados
      </div>
    </div>
  </footer>
  