<!-- footer.component.html -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5>Autores</h5>
        <p>Michael Merino, Alex Mendoza y Ricardo Maigua</p>
      </div>
      <div class="col l4 s12">
        <h5>Contacto</h5>
        <p>+593 984567551</p>
        <p>+593 984567551</p>
        <p>+593 984567551</p>
      </div>
      <div class="col l4 s12">
        <h5>Redes sociales</h5>
        <ul class="social-media">
          <li>
            <img src="assets/linkedin.png" alt="LinkedIn" class="icon" />
            Michael Merino: <a href="https://www.linkedin.com/in/michael-merino-0b7871207/">LinkedIn</a>
          </li>
          <li>
            <img src="assets/github.png" alt="GitHub" class="icon" />
            Michael Merino: <a href="https://github.com/MichaelMerino11">GitHub</a>
          </li>
          <li>
            <img src="assets/instagram.png" alt="Instagram" class="icon" />
            Michael Merino: <a href="https://www.instagram.com/maikijr11/">Instagram</a>
          </li>
          <li>
            <img src="assets/linkedin.png" alt="LinkedIn" class="icon" />
          Alex Mendo <a href="https://www.linkedin.com/in/alex-mendoza/">LinkedIn</a>
          </li>
          <li>
            <img src="assets/github.png" alt="GitHub" class="icon" />
          Alex Mendo <a href="https://github.com/AlexMendoza">GitHub</a>
          </li>
          <li>
            <img src="assets/instagram.png" alt="Instagram" class="icon" />
          Alex Mendo <a href="https://www.instagram.com/alexmendoza/">Instagram</a>
          </li>
          <li>
            <img src="assets/linkedin.png" alt="LinkedIn" class="icon" />
          Ricardo Maigua: <a href="https://www.linkedin.com/in/ricardo-maigua/">LinkedIn</a>
          </li>
          <li>
            <img src="assets/github.png" alt="GitHub" class="icon" />
          Ricardo Maigua: <a href="https://github.com/RicardoMaigua">GitHub</a>
          </li>
          <li>
            <img src="assets/instagram.png" alt="Instagram" class="icon" />
          Ricardo Maigua: <a href="https://www.instagram.com/ricardomaigua/">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2024 Derechos Reservados
    </div>
  </div>
</footer>
